body {
	background-image: url(../images/dice.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}
.box {
  border: 2px solid silver;
  padding: 4px;
  margin: 15px;
  background-color: purple;
}

h2 {
	color: white;
}
p {
	color: white;
}