body {
	background-image: url(../images/dice.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding:35px;

}
.box {
  border: 2px solid silver;
  padding: 4px;
  margin: 15px;
  background-color: purple;
}

h2 {
	background-color: violet;
	padding-right: 22px;
	 margin: 15px;
	color: silver;
	font-size: 45px;
	float: right;
}
p {
	color: white;
}